body {
    text-align: center;
}
div 
{ 
    text-align: center;
}
p {
    color: rgb(167, 168, 156);
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
}
p1 {
    color: rgb(15, 99, 151);
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
button {
    color: rgb(204, 100, 20);
}
style {
    
}

ul {
    color: white;
}